@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    width: 100%;
    overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navOption{
  display: flex;
}

.navIcon{
  display: none;
}

@media (max-width: 885px) {
  .navOption{
    display: none;
  }
  .navIcon{
    display: flex;
  }
}

.priceSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 12px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.priceSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #ffb700;
  cursor: pointer;
}

.priceSlider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: #ffb700;
  cursor: pointer;
}

.cursor {
  cursor: pointer !important;
}

.translate-div{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollbar::-webkit-scrollbar {
  height: 6px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: lightgray; 
}